/OneDrive/Documents/NetBeansProjects/Hello evryone/nbproject/private/
/OneDrive/Documents/NetBeansProjects/Hello evryone/build/
/OneDrive/Documents/NetBeansProjects/JavaApplication2/nbproject/private/
/OneDrive/Documents/NetBeansProjects/JavaApplication2/build/
/OneDrive/Documents/NetBeansProjects/1stProject/nbproject/private/
